

//variables
$mainGreen: #c5d5cb;
$darkGreen: #9fa8a3;
$danger:#c84c30;
$warning:#c87730;
$success:#549c46;
$beige: #e3e0cf;
$light: #f5f5ef;
$bgColour: #fcfcfa;

nav{
    background-color: $bgColour;
}
p{
    font-family:'Josefin Sans', sans-serif;
    margin-bottom: 0rem;
}

//Card
.card{
    margin: 1rem;
}
.card-body{
    a{
        text-decoration: none;
        button{
            background: $mainGreen;
        }
    }
}
// Body
$body-bg: $bgColour;

// .similarItems{
//     // background-color: white;
// }
//footer
footer{
    background-color:$darkGreen ;
    a,a:hover{
        color: white;
    }
}

// Typography
$font-family-sans-serif: 'Cardo';
$font-size-base: 0.9rem;
$line-height-base: 1.3;


//colours

$theme-colors: (
  "primary":    $mainGreen,
  "secondary":  $beige,
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $darkGreen
);


$focus-ring-width:      .25rem;
$focus-ring-opacity:    .55;
$focus-ring-color:      rgba($darkGreen, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$input-btn-focus-width:         $focus-ring-width;
$input-btn-focus-color-opacity: $focus-ring-opacity;
$input-btn-focus-color:         $focus-ring-color;
$input-btn-focus-blur:          $focus-ring-blur;
$input-btn-focus-box-shadow:    $focus-ring-box-shadow;